/*div {outline: 1px solid #ff00ff}
header, footer {outline: 1px solid white}
nav, section, article {outline: 1px solid yellow}
li, ul, fieldset {outline: 1px solid red}
form button, p{outline: 1px solid blue}
a, span, img, input, b{outline: 1px solid brown}*/

@font-face {
  font-family: "Open Sans";
	src: url("fonts/opensans.woff2") format("woff2"),
			 url("fonts/opensans.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: "Open Sans";
	src: url("fonts/opensanslight.woff2") format("woff2"),
			 url("fonts/opensanslight.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}

@font-face {
  font-family: "Gilroy";
	src: url("fonts/gilroyextrabold.woff2") format("woff2"),
			 url("fonts/gilroyextrabold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}

@font-face {
  font-family: "Gilroy";
	src: url("fonts/gilroylight.woff2") format("woff2"),
			 url("fonts/gilroylight.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}

body {
	margin: 0;
	padding: 0;
	
	font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
	font-weight: 300;
	letter-spacing: 0.15px;
	color: #464646;
	
	background-color: #ffffff;
}

a {
	text-decoration: none;
	color: #000000;
}

.visually-hidden{
	position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 800;
	letter-spacing: 3.6px;
	text-transform: uppercase;

	background-color: #f0c52e;
}

/* ##############################################HEADER################################################ */

.main-header {
	background-color: rgba(240, 197, 46, 0.5)
}

.site-navigation ul,
.user-navigation ul {
  list-style: none;
}

.site-navigation {
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 800;
	letter-spacing: 3.6px;
	text-transform: uppercase;
}

.catalog-navigation {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 36px;
	font-weight: 300;
	letter-spacing: 0.15px;
	text-transform: none;
}

/* ##################################################FOOTER########################################### */

.main-footer {
	background-color: #464646;
}

.main-footer a {
	color: #ffffff;
}

.main-footer address {
	font-style: normal;
	color: #ffffff;
}

.footer-user-navigation a {
	line-height: 36px;
	color: rgba(255, 255, 255, 0.7);
}

.footer-site-navigation a {
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 800;
	letter-spacing: 3.6px;
	text-transform: uppercase;	
}

.social-button,
.developer {
	font-size: 0;
}

/* ###################################################INDEX############################################ */

/* PROMO-SLIDER */

.promo-slide b {
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 47px;
	line-height: 56px;
	font-weight: 800;
	letter-spacing: 0.47px;
	color: #000000;
}

.promo-slide th {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 20px;
	font-weight: 300;
	letter-spacing: 0.13px;
}

.promo-slide td {
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 36px;
	line-height: 48px;
	font-weight: 300;
	letter-spacing: 0.36px;
	color: #000000;
}

.promo-sliders-nav {
	list-style: none;
}

/* CATEGORIES */

.categories {
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 800;
	letter-spacing: 0.18px;
	color: #000000;
}

.categories ul {
	list-style: none;
}

/* SERVICES-SLIDER */

.services-sliders {
	background-color: #e5e5e5;
}

.services-slide h2 {
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 47px;
	line-height: 48px;
	font-weight: 800;
	letter-spacing: 0.47px;
	color: #000000;
}

.services-sliders-nav {
	list-style: none;
}

.services-sliders-nav button {
	color: #000000;
}

/* ABOUT US */

.about-us h2 {
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 47px;
	line-height: 48px;
	font-weight: 800;
	letter-spacing: 0.47px;
	color: #000000;
}

.delivery-companies {
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 16px;
	line-height: 40px;
	font-weight: 800;
	color: #000000;

	list-style: none;
}

/* CONTACTS */

.contacts h2 {
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 47px;
	line-height: 48px;
	font-weight: 800;
	letter-spacing: 0.47px;
	color: #000000;
}

/* CONTACT FORM */

.contact-form label {
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 800;
	letter-spacing: 0.18px;
	color: #000000;
}

